body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
.search-field {
  border: none;
  border-radius: 50px;
  padding: 5px;
  outline: none;
}
.search-field:hover {
  outline: none;
  border: none;
}
.search-box {
  border: 1px solid rgb(99, 146, 184);
  width: 450px;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  border-right: none;
}
.search-button {
  padding: 10px 50px;
  border-radius: 25px;
  margin-left: 194px;
}
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.product-styles {
  box-shadow: goldenrod;
}
.single-product {
  padding: 10px;
  transition: 0.6s;
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 1px solid cyan;
}
.product-image {
  width: 150px;
  height: 150px;
}
.product-price {
  line-height: 1.15;
  -webkit-text-size-adjust: none;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Helvetica Neue,
    Helvetica, sans-serif !important;
  visibility: visible;
  margin: 0;
  padding: 0;
  color: #f57224;
  font-size: 30px;
  padding: 10px;
}
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}
.card-position {
  margin-left: 25px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 250px;
    /* border: 1px solid green; */
    padding: 5px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 3px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
.card-detail {
  margin-bottom: 30px;
}
.rate-button {
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px;
}
/* responsive for all device */
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
